---
layout: default
title: Home
---

<div class="posts">
  {% for post in site.posts limit 2 %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    {% assign author = site.data.authors[post.author] %}

    {% assign latest_date = post.date | date_to_string %}
    {% if post.date_original %}
      {% assign original_date = post.date_original | date_to_string %}
    {% else %}
      {% assign original_date =  %}
    {% endif %}

    {% capture post_info %}{{ latest_date }}
      {% if original_date %} (Original: {{ original_date }}){% endif %}
      {% if author %} by {{ author.name }}{% endif %}
    {% endcapture %}

    <span class="post-date">{{ post_info }}</span>
    <div class="post_content">
      {% if post.image %}
        <a class="header_image" href="{{ BASE_PATH }}{{ post.url }}">
          <img alt="{% if post.image_alt %}{{ post.image_alt|escape }} {% else %}{{ post.title|escape }}{% endif %}" src="{{ post.image }}" />
        </a>
      {% endif %}

      <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>

      <p>
        <a class="veg_action read_more" href="{{ post.url }}">Read&nbsp;more&nbsp;&#8594;</a>
        <a class="comments_action" href="{{ BASE_PATH }}{{ post.url }}#disqus_thread"></a>
      </p>
    </div>
  </div>
  {% endfor %}
</div>



<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'veganised';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.async = true;
        dsq.type = 'text/javascript';
        dsq.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>