/* Background colours to mark different ingredients */ 


.ingredient_1 { 
  font-style: normal;
  background-color: #FFCCBC;
} 

.ingredient_2 { 
  font-style: normal;
  background-color: #FFCDD2;
} 

.ingredient_3 { 
  font-style: normal;
  background-color: #F8BBD0;
} 

.ingredient_4 { 
  font-style: normal;
  background-color: #E1BEE7;
} 

.ingredient_5 { 
  font-style: normal;
  background-color: #D1C4E9;
} 

.ingredient_6 { 
  font-style: normal;
  background-color: #C5CAE9;
} 

.ingredient_7 { 
  font-style: normal;
  background-color: #B3E5FC;
} 

.ingredient_8 { 
  font-style: normal;
  background-color: #BBDEFB;
} 

.ingredient_9 { 
  font-style: normal;
  background-color: #B2DFDB;
} 

.ingredient_10 { 
  font-style: normal;
  background-color: #C8E6C9;
} 

.ingredient_11 { 
  font-style: normal;
  background-color: #FFF9C4;
} 

.ingredient_12 { 
  font-style: normal;
  background-color: #FFE0B2;
} 

.ingredient_13 { 
  font-style: normal;
  background-color: #F5F5F5;
} 



