@media only screen and (min-width: 768px) {
    .content {
        padding-top: 130px;
    }
}


.veg_action {
  background: #1F8AB6;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  padding: .25em 1em;
}

a.veg_action,
a.veg_action:link,
a.veg_action:visited {
  color: #FFF;
  text-decoration: none;
}

a.veg_action:hover,
a.veg_action:active,
a.veg_action:focus {
  text-decoration: none;
  background: #2FB0D5;
}

a.veg_action_highlight,
a.veg_action_highlight:link,
a.veg_action_highlight:visited {
  background: #E04C3E;
}

a.veg_action_highlight:hover,
a.veg_action_highlight:active,
a.veg_action_highlight:focus {
  background: #FD4B22;
}

.share-container {
  display: table;
  margin: 0 auto;
}

ul.share-buttons {
  list-style: none;
  width: auto;
  margin: 0;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons a:link {
  color: #888888;
}

ul.share-buttons a:visited {
  color: #888888;
}

ul.share-buttons a:hover {
  color: #2D8CD0;
}

ul.share-buttons a:active {
  color: #2D8CD0;
}


.footer {
  display: block;
  max-width: none;
  padding: 1.8em 0;
  background: #F5F5F5;
  border-top: 1px #EAEAEA solid;
  margin-top: 3em;
}

ul.social-buttons{
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4em;
}

ul.social-buttons li{
  display: inline;
}

ul.social-buttons a:link {
  color: #888888;
}

ul.social-buttons a:visited {
  color: #888888;
}

ul.social-buttons a:hover {
  color: #2D8CD0;
}

ul.social-buttons a:active {
  color: #2D8CD0;
}


