<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {% if page.title == "Home" %}
     {% assign og_type = "website" %}
     {% capture html_title %}{{ site.title }} &middot; {{ site.tagline }}{% endcapture %}
     {% capture og_title %}{{ site.title }}{% endcapture %}
  {% else %}
     {% assign og_type = "article" %}
     {% capture html_title %}{{ page.title }} &middot; {{ site.title }}{% endcapture %}
     {% capture og_title %}{{ html_title }}{% endcapture %}
  {% endif %}

  {% if page.excerpt %}
     {% capture og_description %}{{ page.excerpt | strip_html | strip_newlines | truncate: 300 }}{% endcapture %}
  {% else %}
     {% capture og_description %}{{ site.description }}{% endcapture %}
  {% endif %}

  <title>{{ html_title }}</title>

  <!-- OpenGraph -->
  <meta property="og:url"          content="{{ site.url }}{{ page.url }}" />
  <meta property="og:type"         content="{{ og_type }}" /> 
  <meta property="og:site_name"    content="veganised" />
  <meta property="og:title"        content="{{ og_title }}"/>
  <meta property="og:description"  content="{{ og_description }}" />
  <meta property="og:locale"       content="en_GB" />

  {% if page.image %}
  <meta property="og:image"        content="{{ site.url }}{{ page.image }}"/>
  <meta property="og:image:type"   content="image/jpeg" />
  <meta property="og:image:width"  content="400" />
  <meta property="og:image:height" content="400" />
  {% endif %}
  
  <meta property="fb:app_id"       content="799109043552764" />

  {% if page.title != "Home" %}
  <meta property="og:updated_time" content="{{ page.date }}" />

  <meta property="article:published_time" content="{{ page.date }}" />
  <meta property="article:modified_time"  content="{{ page.date }}" />
  {% endif %}

  <meta name="twitter:card"        content="{% if page.image %}summary_large_image{% else %}summary{% endif %}" />
  <meta name="twitter:site"        content="@{{ site.twitter_username }}" />
  <meta name="twitter:creator"     content="@{{ site.twitter_username }}" />
  <meta name="twitter:title"       content="{{ og_title }}" />
  <meta name="twitter:description" content="{{ og_description }}" />
  {% if page.url %}
    <meta name="twitter:url"       content="{{ site.url }}{{ page.url }}">
  {% endif %}
  {% if page.image %}
    <meta name="twitter:image:src" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}" /> 
  {% endif %} 


  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} &middot; {{ site.tagline }}" href="/feed.xml"/>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/style.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" />

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}atom.xml">
</head>
