
{% capture url %}{{ site.url }}{{ page.url }}{% endcapture %}
{% if page.shortUrl != null %}
    {% assign url = page.shortUrl %}
{% endif %}

<ul class="share-buttons">

  <li><a href="https://twitter.com/intent/tweet?source={{ url }}&text={{ page.title }}:%20{{ url }}&via=veganised_co_uk" target="_blank" title="Tweet"><i class="fa fa-twitter-square fa-2x"></i></a></li><li>
  <a href="https://www.facebook.com/dialog/share?app_id=418665318314327&display=popup&href={{ site.url }}&redirect_uri={{ url }}" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li><li>
  <a href="https://plus.google.com/share?url={{ url }}" target="_blank" title="Share on Google+"
  onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-google-plus-square fa-2x"></i></a></li><li>
  <a href="mailto:?subject={{ page.title }}&body={{ page.title }}:%0D%0A{{ url }}" target="_blank" title="Email">
	<i class="fa fa-envelope-square fa-2x"></i>
  </a></li>

</ul>






  <!-- https://www.facebook.com/sharer/sharer.php?u={{ url }}&t={{ page.title }} 




<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '418665318314327',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  -->