
	<ul class="social-buttons">

		<li>
		<a href="https://www.facebook.com/veganised.uk/?ref=webf" target="_blank" title="Facebook">
		  	<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
			</span></a></li><li> 
	  	<a href="https://www.instagram.com/veganised" target="_blank" title="Instagram">
		  	<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
			</span></a></li><li>
	  	<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" title="Twitter">
		  	<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
			</span></a></li><li>
	  	<a href="https://plus.google.com/b/112487949488667362532/112487949488667362532/" target="_blank" title="Google+">
	  		<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
			</span></a></li><li>
	  	<a href="/feed.xml" title="RSS" target="_blank">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-rss fa-stack-1x fa-inverse"></i>
			</span></a></li>

	</ul>