---
layout: default
---


{% assign author = site.data.authors[page.author] %}

{% assign latest_date = page.date | date_to_string %}
{% if page.date_original %}
  {% assign original_date = page.date_original | date_to_string %}
{% endif %}

{% capture post_info %}{{ latest_date }}
  {% if original_date %} (Original: {{ original_date }}){% endif %}
  {% if author %} by {{ author.name }}{% endif %}
{% endcapture %}

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>

  <span class="post-date">{{ post_info }}</span>
  
  {{ content }}

  {% include sharing.html %}

  {% include comments.html %}
</div>
